*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 700px;
    font-family: 'helvetica neue';
  }
  header{
    width: 100%;
    height: 80px;
    background: #A683E3;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    padding: 0 100px ;
  }
  .logo{
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
  }
  .container{
    display: none ;
  }
  .nav-navbar ul{
    display: flex;
  }
  .nav-navbar ul li a {
    display: block ;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.25s;
    margin: 0 5px;
  }
  .nav-navbar ul li a:hover{
    color:black ;
    background: #fefefe;
  }
  .nav-navbar ul li a.active{
    color:black;
    background: #fefefe;
  }
  .text{
    
    padding: 230px 0;
    text-align: center;
  }
  h1{
    font-size: 5rem;
    color: black ;
    font-weight: bold;
  }
  p{
    font-size: 2rem;
    font-weight: bold;
  }
  @media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
  }
  @media only screen and (max-width: 1100px){
    header{
        padding: 0 50px;
    }
  }
  @media only screen and (max-width: 900px){
    html {
        background-color: #E4E9FD;
        background-image: -webkit-linear-gradient(40deg, #A683E3 50%, #E4E9FD 50%);
        min-height: 550px;
        font-family: 'helvetica neue';
      }
    .container{
        display: block;
        cursor: pointer;
    }
    .container .vevo{
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }
    .nav-navbar{
        height: 0px;
        position: absolute;
        top:80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #A683E3;
        transition: 0.5s;
        overflow: hidden;
        
    }
    .nav-navbar.active{
        height: 400px;
    }
    .nav-navbar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-navbar.active ul{
        opacity: 1;
    }
    .nav-navbar ul li a {
        margin-bottom: 12px ;
    }
  }